<div class="card-container">
  <div class="card-box"  
  [@flip]="flipState" 
  (@flip.start)="flipStarted($event)"
  (@flip.done)="flipDone($event)">
    <div class="rounded-top card-side card-front"><h1>{{data.front | uppercase}}</h1></div>
    <div class="rounded-top card-side card-back"><h1>{{data.back | uppercase}}</h1></div>
  </div>
  <div class="card-box fake-box"
  *ngIf = "fakeVisible"  
  [@fake]="fakeState" 
  (@fake.start)="fakeStarted($event)"
  (@fake.done)="fakeDone($event)">
    <div class="rounded-top card-side card-front"><h1>{{dataNext.front | uppercase}}</h1></div>
  </div>
</div>
