html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

body {
    font: 300 16px 'Roboto', sans-serif;
    text-align: center;
}

/* --------------- Bootstrap Input, Button --------------- */

.form-control {
    /*display: block;*/
    /*width: 100%;*/
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  }
  
  .form-control:focus {
    color: #464a4c;
    background-color: #fff;
    border-color: #5cb3fd;
    outline: none;
  }
  
  .form-control::-webkit-input-placeholder {
    color: #636c72;
    opacity: 1;
  }
  
  .form-control::-moz-placeholder {
    color: #636c72;
    opacity: 1;
  }
  
  .form-control:-ms-input-placeholder {
    color: #636c72;
    opacity: 1;
  }
  
  .form-control::placeholder {
    color: #636c72;
    opacity: 1;
  }
  
  .form-control:disabled, .form-control[readonly] {
    background-color: #eceeef;
    opacity: 1;
  }
  
  .form-control:disabled {
    cursor: not-allowed;
  }
  
  
  .btn {
      display: inline-block;
      font-weight: 500;
      line-height: 1.25;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid transparent;
      padding: .5rem 1rem;
      font-size: 1rem;
      border-radius: .25rem;
      -webkit-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
  }
  
  .btn-secondary {
      color: #292b2c;
      background-color: #fff;
      border-color: #ccc;
  }
  
  .btn-secondary:hover {
      color: #292b2c;
      background-color: #e6e6e6;
      border-color: #adadad;
  }
  
  .btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle {
      color: #292b2c;
      background-color: #e6e6e6;
      background-image: none;
      border-color: #adadad;
  }
  
/* ----------------/ */
